/*

Add styles or override variables from the theme here.

*/

.td-page-meta--view { display: none !important; }
.td-page-meta--edit { display: none !important; }
.td-page-meta--child { display: none !important; }
.td-page-meta--issue { display: none !important; }
.td-page-meta--project-issue { display: none !important; }

.td-overlay--dark::after {
    background-color: transparent;
}

$primary: #b0450f    ;
$secondary: #F2F2F2;

$google_font_name: "Open Sans";
$google_font_family: "Open+Sans:300,300i,400,400i,700,700i";

