+++
title = "MIT Critical Data"
linkTitle = "MIT Critical Data"

+++

{{< blocks/cover title="MIT Critical Data"  image_anchor="top" >}}
<div class="mx-auto">

	<p class="lead mt-0">Empowering Data Science<br>Research in Healthcare</p>

	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/news" >}}">
		Upcoming Datathons <i class="fas fa-arrow-right ml-2 "></i>
	</a>
	
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Our **Mission** is to transform <b>Healthcare</b> by bringing together<br>
Clinicians, Data Scientists, and Local Research Communities
{{% /blocks/lead %}}

{{< blocks/section color="secondary">}}

{{% blocks/feature icon="fa-regular fa-database" title="Democratize **Clinical Data** sharing" %}}
We belive that sharing more Clinical Data<br>
is vital for innovation in Healthcare<br>
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-solid fa-star-of-life" title="Drive **Health Equity** Research" %}}
We leverage relevant Clinical Data <br>
and Data Science to address Health Disparities<br>

{{% /blocks/feature %}}

{{% blocks/feature icon="fa-regular fa-globe" title="**Decentralize** Medical Knowledge" %}}
We work with multidisciplinary teams <br>
from around the world to build local capacity<br><br>
{{% /blocks/feature %}}

<br><br>

{{% blocks/feature icon="fas fa-arrow-down" title="**Open-Source** Tools" %}}
Our team created and maintains the PhysioNet platform,<br>
MIMIC, and eICU-CRD databases - all freely available<br>

<a class="btn btn-lg btn-primary mr-3 mb-4" target="_blank" href="https://physionet.org/">
	PhysioNet</i>
</a>

{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-arrow-down" title="Multidisciplinary **Collaborations**" %}}
Partnering with a diverse and inclusive network<br>
means learning and growing together<br>

<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/news" >}}">
	Publications</i>
</a>

{{% /blocks/feature %}}

{{% blocks/feature icon="fas fa-arrow-down" title="Monthly **Datathons** around the World" %}}
Our Datathons take place in a different country each month,<br>
gathering international collaborators<br>

<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/news" >}}">
	Datathons</i>
</a>
{{% /blocks/feature %}}

{{< /blocks/section >}}


